<div class="row">
  
  <aside class="col-xs-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-xs-8">
    <h3>Followers (<%= @user.follower_users.count %>)</h3>
    <% @users_no_me.each do |u| %>
      <div class="media">
        <div class="media-left">
          <%= gravatar_for u %>
        </div>
        <div class="media-body">
          <h3><%= link_to u.name, u %></h3>
        </div>
      </div>
    <% end %>
  </div>
    
<!--　フォローのフォーム
<div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  <hr>
</div>
       -->    
            
</div>