<div class="row">
  <aside class="col-md-4">
<<<<<<< HEAD
    <section class="user_info">
=======
    <section class="user-info">
>>>>>>> user-profile
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
<<<<<<< HEAD
  </aside>
  
=======
    <section class="follows">
      <h4>
      <%= link_to "Followings", user_followings_path(@user) %>
      |
      <%= link_to "Followers", user_followers_path(@user) %>
      </h4>
    </section>
  </aside>
>>>>>>> user-profile
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
    <h3>Microposts(<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
<<<<<<< HEAD
      <%= render @microposts %>
    </ol>
    <% end %>
  </div>
</div>
=======
    <%= render @microposts %>
    </ol>
    <% end %>
  </div>
</div>
>>>>>>> user-profile
